.main-container {
  height: auto;
  width: 90%;  
  margin: auto;
  background-color: #f4f1ec;
  /* border: 2px solid coral;  */

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.new-tweet-container {
  width: 100%;
  margin: auto;  
}
.compose-title {  
  text-align: center;
  color: gray;
  padding: 20px; 
}
.label {
  font-family: Roboto, sans-serif;
  font-weight: 800;     
}
#tweet-text {
  height: 40px;
  width: 100%;
  background-color:#f4f1ec; 
  border: 0px;
  border-bottom: 4px solid gray;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.tweet-btn {
  background-color: #4056A1;
  color: white;
  font-family: bungee, sans-serif;
  font-weight: 400;
  border-radius: 3px;
}
.counter {
  font-family: bungee, sans-serif;
  font-weight: 400;
}
.counter-red {
  color: red;
}